@media only screen and (max-width: 768px) {
    .card {
        width: 100% !important;
        margin-left: 0 !important;
    }
    .details_content {
        margin: 0 20px;
     }
     .details_content {
         font-size: 18px;
     }
}
@media only screen and (max-width: 992px) {
    .toRow {
        width: 100%;
    }
}